 
{% include "headerAdmin.html" %}
 


<form method="POST" action="/update" enctype="multipart/form-data">
    <div class="card">
        
        <div class="card-header">Editar Producto</div> 
        <div class="card-body">
            <div  class="form-group">
                <label for="txtCodigo">Codigo:</label>
             <input   type="text" value="{{item['cod producto']}}" name="txtCodigo" id="txtCodigo">  <!--para nombres con espacios usar => item['nombre con espacio']-->
             </div>
             <div class="form-group">
               <label for="txtLinea">Linea:</label>
               <input type="text" name="txtLinea" id="txtLinea" size="50" value="{{item.linea}}">
             </div>
             <div class="form-group">
                <label for="txtRubro">Rubro:</label>
                <input type="text" value="{{item.rubro}}" name="txtRubro" id="txtRubro" maxlength="100"  size="100" required >
              </div>
             <div class="form-group">
                 <label for="txtDescripcion">Descripcion:</label>
             <input class="col-10" type="text" value="{{item.descripcion}}" name="txtDescripcion" id="txtDescripcion" maxlength="200" required >
             </div>
             <div class="form-group">
                <label for="txtPrecio">Precio:</label>
                <input type="text" name="txtPrecio" id="txtPrecio"  value="{{item['pcio_lista']}}">
              </div>
              <div class="form-group">
                <label for="txtUnidad">Unidad:</label>
                <input type="text" name="txtUnidad" id="txtUnidad"  value="{{item['unidad']}}">
              </div>
        
            <p class="card-text">
            
          <div class="form-group">
           
         <label for="txtFoto">Foto: {{item.imagen}}</label>

     <input type="file"  name="txtFoto" id="txtFoto" >
     </div>
     <p> <img src="userpic/{{item['imagen']}}.jpg" alt="userpic/{{item.imagen}}.jpg" width="100" alt="foto"></p>
     <input type="submit" value="Realizar cambios" class="btn btn-success">
      </p>
        </div>
   
    
 </form>







{% include 'footer.html'%}