 
    {% include "header.html" %}
    <button onclick=volver() style="display:none;" id="volver">Volver</button>
    
    <div class="d-flex justify-content-center">
        <h1>Seleccione una linea</h1>
    </div>
    <div class=" d-flex justify-content-around flex-wrap contenedorLineas" >
    {% for linea in lineas %}
    <div class="card cardLineas" style="width: 18rem;">
        <img id="{{linea.linea}}" class="card-img-top" src="/static/{{linea.linea}}.jpg"  width="200px" height="200px"  alt="Card image cap">
    <form method="POST" action="/seleccion" enctype="multipart/form-data">
        <div class="form-group text-center">
         <input class="btn btn-info btn-xs btn-block"  type="submit" formenctype="multipart/form-data"  formmethod="post" id="{{linea.linea}}" value="{{linea.linea}}" name="Name">
        </div>
    </form>
    </div>
     

    {% endfor %}
   </div>
 
{% include "footer.html" %}

 