 
    {% include "header.html" %}
    <button onclick=volver() style="display:none;" id="volver">Volver</button>
    <div class="container" id="container">
        <div class="row">
          <div class="col-sm">
           <button class="btn btn-info btn-lg" onclick="mostrarSanitarios(event)" id="sanitarios"> Sanitarios</button>
          </div>
          <div class="col-sm">
            <button class="btn btn-info btn-lg" onclick="mostrarSanitarios(event)" id="gas" >Gas</button>
          </div>
          <div class="col-sm">
            <button class="btn btn-info btn-lg"  onclick="mostrarSanitarios(event)" id="roscado" >Bronce Roscado</button>
          </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <button class="btn btn-info btn-lg"  onclick="mostrarSanitarios(event)" id="ppn" >PPN</button>
            </div>
            <div class="col-sm">
                <button class="btn btn-info btn-lg"  onclick="mostrarSanitarios(event)" id="polietileno" >Polietileno</button>
            </div>
            <div class="col-sm">
                <button class="btn btn-info btn-lg"  onclick="mostrarSanitarios(event)" id="epoxi" >Epoxi</button>
            </div>
          </div>
          <div class="row">
            <div class="col-sm">
                <button class="btn btn-info btn-lg"  onclick="mostrarSanitarios(event)" id="fusionGas" >Fusion Gas</button>
            </div>
            <div class="col-sm">
                <button class="btn btn-info btn-lg"  onclick="mostrarSanitarios(event)" id="fusionAgua" > Fusion Agua</button>
            </div>
            <div class="col-sm">
                <button class="btn btn-info btn-lg"  onclick="mostrarSanitarios(event)" id="ferreteria" >Ferreteria</button>
            </div>
          </div>
          <div class="row">
            <div class="col-sm">
                <button class="btn btn-info btn-lg" onclick="mostrarSanitarios(event)" id="buloneria"  >Buloneria</button>
            </div>
            <div class="col-sm">
                <button class="btn btn-info btn-lg"  onclick="mostrarSanitarios(event)" id="zingueria" >Zingueria</button>
            </div>
            <div class="col-sm">
                <button class="btn btn-info btn-lg"  onclick="mostrarSanitarios(event)" id="calefaccion" >Calefaccion</button>
            </div>
          </div>
      </div>
       
      <div id="cuadro" class="row justify-content-center"></div>

      <div id="contenedorPedido" style="display:none;" >
        <form class="row justify-content-center" id="formularioPedido">
            <div class="form-group">
              <label for="exampleFormControlInput1">Email address</label>
              <input type="email" class="form-control" id="emailPedido" placeholder="tuemail@ejemplo.com" >
            </div>
            <div class="form-group">
                <label for="exampleFormControlInput1">Nombre</label>
                <input type="text" class="form-control" id="nombrePedido" placeholder="Tu Nombre Aqui">
              </div>
            <div class="form-group">
              <label for="exampleFormControlTextarea1">Example textarea</label>
              <textarea class="form-control" id="textoPedido" name="textoPedido" rows="3">hola</textarea>
            </div>
            
          </form>
          <div id="otro" style="border: solid red 1px;"></div>
    
    </div>




    <div class="invisible">
          
        <div class="sanitarios">
            <form method="POST" action="/seleccion" enctype="multipart/form-data">
                <div class="form-group">
                     
                    <input type="submit"class="btn btn-info seleccion"  formenctype="multipart/form-data" formmethod="post"  value="ABRAZADERAS" name="Name" onclick="cantidadDefault()">
                </div>
            </form>
            <form method="POST" action="/seleccion" enctype="multipart/form-data">
                <div class="form-group">
                     
                    <input type="submit"class="btn btn-info seleccion" formenctype="multipart/form-data" formmethod="post"  value="ACCESORIOS PARA BAÑO" name="Name">
                </div>
            </form>
        </div>
        <div class="gas">
             <form method="POST" action="/seleccion" enctype="multipart/form-data">
                <div class="form-group">
                     
                    <input type="submit"class="btn btn-info seleccion"  formenctype="multipart/form-data" formmethod="post"  value="CAÑOS DE COBRE Y ALUMINIO" name="Name">
                </div>
             </form>
             <form method="POST" action="/seleccion" enctype="multipart/form-data">
                <div class="form-group">
                     
                    <input type="submit"class="btn btn-info seleccion" formenctype="multipart/form-data" formmethod="post"  value="CONEXIONES P/GAS" name="Name">
                </div>
             </form>
             <form method="POST" action="/seleccion" enctype="multipart/form-data">
                <div class="form-group">
                     
                    <input type="submit"class="btn btn-info seleccion" formenctype="multipart/form-data" formmethod="post"  value='BUJES REDUCCION TRAFILADOS' name="Name">
                </div>
             </form>
        </div>
        <div class="roscado">
            <form method="POST" action="/seleccion" enctype="multipart/form-data">
                <div class="form-group">
                     
                    <input type="submit"class="btn btn-info seleccion" formenctype="multipart/form-data" formmethod="post"  value='BRIDAS DE BRONCE ROSCADO' name="Name">
                </div>
             </form>

        </div>
        <div class="ppn">
            <form method="POST" action="/seleccion" enctype="multipart/form-data">
                <div class="form-group">
                     
                    <input type="submit"class="btn btn-info seleccion" formenctype="multipart/form-data" formmethod="post"  value='BUJE REDUCCION POLIPROPILENO' name="Name">
                </div>
             </form>

        </div>
        




    </div>
   

<script>
 //   function mostrarSanitarios(event){
 //   var id = event.currentTarget.getAttribute("id")
  //  console.log(id)
 //   var rubros = document.getElementsByClassName(id);

   // console.log(rubros)                                                YA LA PASE AL INDEX.JS
  //  var contenedor=document.getElementById("container");
   // console.log(contenedor)
  //  contenedor.style.display = 'none';
  //  document.getElementById("cuadro").innerHTML = rubros[0].innerHTML;
  //  document.getElementById("volver").style.display = 'block'; };


// function volver(){
//    var contenedor=document.getElementById("container");
//    contenedor.style.display = 'block';                           YA LA PASE AL INDEX.JS
//    document.getElementById("volver").style.display = 'none';
//    document.getElementById("cuadro").innerHTML="";} 
    



</script>

{% include "footer.html" %}

 