{% include 'header.html' %}


<!-- {% with messages= get_flashed_messages() %}
{% if messages %}

<div class="alert alert-danger" role="alert" >
{% for message in messages %}
{{message}}

{% endfor %}
</div>
{% endif %}
{% endwith %} -->


<a class="btn btn-warning" href="{{url_for('borra')}}">Ir a Baja de Productos</a>



<form method="POST" action="/store" enctype="multipart/form-data">
    <div class="card">
        
        <div class="card-header">Alta Producto</div> 
        <div class="card-body">
            <p class="card-text">
            <div class="form-group">
                <label for="txtCodigo">Codigo:</label>
                <input type="text" name="txtCodigo" id="txtCodigo" required  ></div>
            <div class="form-group">
                <label for="txtLinea">Linea:</label>
                <input type="text" name="txtLinea" id="txtLinea" required   ></div>
            <div class="form-group">
                <label for="txtCodLinea">Codigo Linea:</label>
                <input type="text" name="txtCodLinea" id="txtCodLinea" required   ></div>
            <div class="form-group">
                <label for="txtOrdenLinea">Orden Linea:</label>
                <input type="text" name="txtOrdenLinea" id="txtOrdenLinea" required   ></div>
            <div class="form-group">
                <label for="txtRubro">Rubro:</label>
                <input type="text" name="txtRubro" id="txtRubro" required   ></div>
            <div class="form-group">
                <label for="txtCodRubro">Codigo Rubro:</label>
                <input type="text" name="txtCodRubro" id="txtCodRubro" required   ></div>
            <div class="form-group">
                <label for="txtOrdenRubro">Orden Rubro:</label>
                <input type="text" name="txtOrdenRubro" id="txtOrdenRubro" required   ></div>
            <div class="form-group">
                <label for="txtDescripcion">Descripcion:</label>
                <input type="text" name="txtDescripcion" id="txtDescripcion" required   ></div>
            <div class="form-group">
                <label for="txtPrecio">Precio:</label>
                <input type="text" name="txtPrecio" id="txtPrecio" required   ></div> 
            <div class="form-group">
                <label for="txtUnidad">Unidad:</label>
                <input type="text" name="txtUnidad" id="txtUnidad" required   ></div> 
            
          <div class="form-group">
         <label for="txtFoto">Imagen:</label>
     <input type="file" name="txtFoto" id="txtFoto" required >
     </div>
     <input type="submit" value="Agregar">
      </p>
        </div>
    </div>
    
 </form>

 {% include 'footer.html'%}