{% include 'headerAdmin.html' %}
 
 

<!-- {% with messages  = get_flashed_messages %}

{% if messages %}
<script>
  Swal.fire({
    position: 'center',
    icon: 'success',
    text: "{{message}}",
    showConfirmButton: true,
    timer: 5000
})
</script>

{% endif %}

{% endwith %} -->
 

<form method="POST" action="/selborra" enctype="multipart/form-data">
    
    
    <div class="form-group">
      <div class="col-7">
        <p class="bg-info">Modificar/Borrar Productos</p>
      <label for="tipoProducto">Buscar producto por Linea</label>
      <select class="form-control" id="tipoProducto" name="tipoProducto">
        {% for tipo in tipos %}
        <option>{{tipo.linea}}</option>
        {% endfor %}
        
        <input type="submit" value="Buscar">
      </select>
    </div>
    </div>
    
  </form>





{% include 'footer.html'%}