body{
    width:100%;
}



#head{
    display: flex;
    justify-content:space-between;
    margin-left: 10vh;
    }

h1{
    color: rgb(5, 5, 36);
   
}
#logo{
    margin-top: 2vh;
    margin-right: 10vh;
    margin-bottom: 1vh;

}

#imagen{
    display:none;
  }
  
 #visible{
   display: block;
 }
 .titulares, #totalCarro, .labelForm{
   font-weight: bolder;
   font-size:large ;
 }

 #cuadro>form{
  margin: 1vh;
 }

 

.art{
   
   border: solid 1px blue;
}
.col-1{
 margin: 0px !important;
 padding: 0px 0px 0px 0px !important;
}
.col-2{ margin: 0px !important;
 padding: 0px 0px 0px 0px !important;

}
.col-4{
 margin: 0px !important;
 padding: 0px 0px 0px 0px !important;
}
.no-gutters {
 margin-right: 0;
 margin-left: 0;
}

#todoElCarro{
  display: none;
}
/* LAS FLECHAS DEL INPUT */
  /* Chrome, Safari, Edge, Opera */ 
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.cantidadInput{
  width: 40px;;
}
.listado{
  font-size: large;
}
 
.contenedor{
  font-size: large;
}
.cantidadDefault{
  width: 40px;
}
.container>div{
  margin-top: 3vh;
  margin-bottom: 3vh;
}

#vaciarCarrito, #btnEnviarPedido{
  width: 30%;
}