body{
    width:100%;
}



/* #head{
    display: flex;
    justify-content:space-between;
    margin-left: 10vh;
    } */

h1{
    color: rgb(5, 5, 36);
   
}
#logo{
    margin-top: 2vh;
    margin-right: 10vh;
    margin-bottom: 1vh;

}

#imagen{
    display:none;
    
  }
  
 #visible{
   display: block;
 }
 .titulares, #totalCarro, .labelForm{
   font-weight: bolder;
   font-size:large ;
 }

 #cuadro>form{
  margin: 1vh;
 }
 .administradorBtn{
  /* margin: 0 , 1vh, 0, 1vh; */
  margin-left: 3vh;
  margin-left: 3vh;
}
 

.art{
   
   border: solid 1px blue;
}
.col-1{
 margin: 0px !important;
 padding: 0px 0px 0px 0px !important;
}
.col-2{ margin: 0px !important;
 padding: 0px 0px 0px 0px !important;

}
.col-4{
 margin: 0px !important;
 padding: 0px 0px 0px 0px !important;
}
.no-gutters {
 margin-right: 0;
 margin-left: 0;
}
.item-image{
  position: absolute;
   top: 0;
   left: 0;
  z-index: 1;
  
  overflow:hidden ;
  /* max-height: 120px; */
  width: 50px;

 
}
.lupa{
  position: absolute;
  top: 0;
  right: 0;
  z-index: 99;
  width:50px;
}
 
 

  .contenedorDeImagenes{
    height: 50px;
    max-width: 50px;
  }

#irArriba{
  position:fixed;
  bottom: 0;
  right: 0;
}

 
/* LAS FLECHAS DEL INPUT */
  /* Chrome, Safari, Edge, Opera */ 
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.cantidadInput{
  width: 60px;;
}
.listado{
  font-size:medium;
}
 
.contenedor{
  font-size: large;
}
.cantidadDefault{
  width: 60px;
}
.container>div{
  margin-top: 3vh;
  margin-bottom: 3vh;
}

#vaciarCarrito, #btnEnviarPedido{
  width: 30%;
}
.form-group > label{
  font-weight: bolder;
}
 
#formBase{
  margin: 5vh 0 0 3vh;
}

#hamburguesaLineas{
  display: block;
}
#btnsLineas{
  margin-top: 1vh;
  margin-bottom: 1vh !important;
}

.contenedorLineas{
  margin: 1vh !important;
}

.btnRubro{
  margin: 1vh 2vh 0 0;
  
}
.txtBtnLinea{
  font-size: small !important;
  /* margin: 1rem; */
}
#mainNav{
  background-color: rgb(179, 214, 214) !important;
}
#navbarToggleExternalContent{
  background-color: rgb(160, 161, 161) !important; 
}
#btnsLineas{
  background-color: rgb(179, 214, 214) !important;

}
footer{
  background-color: rgb(179, 214, 214) !important;
}
.card-img-top{
  width: 100%;
  max-height: 15rem;
}
.rubrosCard img{

  transition: transform 1s ease;
} 
.rubrosCard:hover img{
  transform: scale(1.1);
}

.rubrosCard{
  width: 15rem;
  /* height: 15rem; */
  overflow: hidden;
  height: 20rem;
  margin: 0;
}

.cardLineas{
  overflow: hidden;
}
.cardLineas img{
  transition: transform 1s ease;
}
.cardLineas:hover img{
  transform: scale(1.1);
}
.card-body{
  padding: 0;
}
.contenedorContacto{
  margin-top: 3vh;
}
 