<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{{url_for('static', filename='index.js') }}" defer></script> <!-- link JS-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"> <!-- link Bootstrap-->
    <link rel="STYLESHEET" href="/static/styles.css">
    <script src="sweetalert2.all.min.js"></script> 
    <title>Proyecto Gustavo</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <span class="navbar-brand">Panel de Administrador</span>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="btn btn-success administradorBtn" href="{{url_for('isAdmin')}}" >Ingresar Producto</a>
            </li>
            <li class="nav-item">
                <a class="btn btn-info administradorBtn" href="{{url_for('borra')}}">Seleccion por linea</a>
            </li>
            <li class="nav-item">
                <a class="btn btn-danger administradorBtn" href="{{url_for('index')}}">Volver al inicio</a>
            </li>
            <li class="nav-item">
                <a class="btn btn-warning administradorBtn" href="{{url_for('actualizador')}}">Actualizar Base de Datos</a>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0" action="/monoAdmin" method="post">
            <p>Busqueda por palabra clave:  </p>
            <input class="form-control mr-sm-2" type="search" placeholder="Busqueda" id="palabraBuscar" name="palabraBuscar" enctype="multipart/form-data">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
          </form>
        </div>
      </nav>