<span id="inicio"></span> 
 {% include "header.html" %}

 <div class="d-flex justify-content-center">
    <h1>Linea {{linea}}</h1>
 </div> 
 <div class="d-flex justify-content-center">
    <h3>Seleccione un rubro</h3>
 </div>


<!-- <div class=" d-flex justify-content-around flex-wrap contenedorLineas"  >
{% for rubro in rubros %}
<div class="btnRubro">
<form method="POST" action="/rubros" enctype="multipart/form-data">
    <div class="form-group">
<input class="btn btn-info btn-xs txtBtnLinea"  type="submit" formenctype="multipart/form-data"  formmethod="post" id="{{rubro[0]}}" value="{{rubro[0]}}" name="Name">
</div>
</form>
</div>





{% endfor %} 
</div> -->
<div class=" d-flex justify-content-between flex-wrap contenedorLineas"  >
{% for cosa in imagenes %}
<div class="col-sm-2 justify-content-between ">
<div class="card rubrosCard d-flex align-items-center" >
     <img class="card-img-top" src="/userpic/{{cosa[0]}}.jpg" alt="Card image cap">
  <div class="card-body d-flex align-items-end">
<form method="POST" action="/rubros" enctype="multipart/form-data">
         
        <input class="btn btn-info btn-xs btn-block txtBtnLinea"  type="submit" formenctype="multipart/form-data"  formmethod="post" id="{{cosa[1]}}" value="{{cosa[1]}}" name="Name">
        
</form>
</div>
</div>         
</div> 


    {% endfor %}
</div>

 {% include "footer.html" %}