{% include 'headerAdmin.html' %}

 

<!-- {% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %} -->
 
<table class="table table-striped">
    <thead class="thead-dark col-5 ">
      <tr>
        <th scope="col">Cod Producto</th>
        <th scope="col">Rubro</th>
        <th scope="col">Descripcion</th>
        <th scope="col">Foto</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
    {% for item in productos %}
        <tr>
            <td>{{item['cod producto']}}</td>
            <td>{{item.rubro}}</td>
            <td>{{item.descripcion}}</td>
            <td><img src="userpic/{{item.imagen}}.jpg" width="50"  alt="foto"></td>
            
            <td>
            <a class="btn btn-warning" href="/modify/{{item['cod producto']}}">Editar</a>
            ||
            <a id="btnBorrar"  class="btn btn-danger" href="/delete/{{item.id}}">Borrar</a>
          </td>
          
          </tr>
    {% endfor %}

    </tbody>
  </table>


  {% include 'footer.html'%}